@import 'libs/bootstrap-reboot.min'
@import 'libs/font'

*
    font-family: 'Gotham Pro', sans-serif
    margin: 0
    padding: 0

:root
    --main-color: #49B3F7
    --bg-color: #EFF2FD
    --dark-text: #243976

.container
    max-width: 1140px
    margin: 0 auto

// elements style
@import 'blocks/buttons'
@import 'blocks/logotype'
@import 'blocks/address'
@import 'blocks/header'
@import 'blocks/humb'
@import 'blocks/menu'
@import 'blocks/titles'
@import 'blocks/arrows'
@import 'blocks/forms'
@import 'blocks/modals'
@import 'blocks/accordion'
// page index 
@import 'blocks/promo'
@import 'blocks/socials'
@import 'blocks/about'
@import 'blocks/cards'
@import 'blocks/footer'
// page therapy
@import 'blocks/promo-therapy'
@import 'blocks/about-therapy'
@import 'blocks/programs-therapy'
@import 'blocks/after-therapy'
@import 'blocks/reviews-therapy'
// page contacts
@import 'blocks/promo-contacts'
@import 'blocks/administrators-contacts'
@import 'blocks/address-contacts'
@import 'blocks/question-contacts'
// page parents
@import 'blocks/promo-parents'
@import 'blocks/advantages-parents'
@import 'blocks/about-parents'
@import 'blocks/services-parents'
@import 'blocks/specialists-parents'
@import 'blocks/faq-parents'
// media styles
@import 'blocks/media'
