@media (max-width: 1200px)
  .container
    max-width: 850px

  // page index.html media

  .promo
    &__title
      max-width: 400px
      font-size: 30px
    &__subtitle
      max-width: 400px
      font-size: 17px
    &__btn
      padding: 15px 25px
      &:first-child
        margin-right: 10px
    &__img-wrapper
      max-width: 350px
    &__img:last-child
      position: static
  .about
    &__text
      min-height: 259px
      font-size: 17px
  .footer
    &__logotype
      max-width: 170px
    &__offer
      max-width: 180px
    &__title
      font-size: 17px
    &__menu-item, &__time, &__policy
      font-size: 16px

  // page therapy.html media

  .promo-therapy
    &__img-wrapper
      max-width: 400px
  .about-therapy
    &__content-wrapper
      align-items: center
    &__text-wrapper
      max-width: 350px
    &__img-wrapper
      max-width: 350px
  .programs-therapy
    &__card
      max-width: 278px
      padding: 30px 25px
      &-title
        font-size: 24px
      &-item
        font-size: 16px
      &-subtitle
        font-weight: 500
  .after-therapy
    &__title
      font-size: 29px
    &__subtitle
      margin-top: 15px
    &__item
      font-size: 16px
    &__text
      font-size: 16px
      text-align: left
    &__text-wrapper
      max-width: 350px
    &__img-wrapper
      max-width: 350px

  // page parents.html media

  .promo-parents
    &__img-wrapper
      max-width: 430px
  .advantages-parents
    &__card
      width: 130px
      &-text
        font-size: 16px
  .about-parents
    &__card
      max-width: 413px
      padding: 30px
      font-size: 16px
  .services-parents
    &__accordion-card
      width: 415px
      padding: 30px 20px
    &__accordion-title
      font-size: 18px
    &__accordion-icon
      width: 25px
      height: 25px
  .tab
    &__title
      font-size: 16px
  .specialists-parents
    &__card
      width: 410px
  .price
    &__list
      &-service
        max-width: 240px
        font-size: 15px
      &-cost
        font-size: 15px
  .card
    &__btn
      max-width: 158px
      font-size: 12px

  // page contacts.html media

  .administrators-contacts
    &__card
      width: 410px
      min-height: 259px
      padding: 23px 31px
  .card
    &__title
      &-name
        font-size: 25px
      &-post
        font-size: 13px
    &__photo
      max-width: 80px
      &-icon
        left: 46px
  .question-contacts
    &__content-wrapper
      padding: 50px 30px 50px 50px
    &__img-wrapper
      max-width: 333px
    &__img
      width: 100%

@media (max-width: 991px)
  .container
    max-width: 650px

  // page index.html media

  .header
    &__logotype
      max-width: 170px
    &__menu-link
      font-weight: 400
    &__menu-item:not(:last-child)
      margin-right: 15px
  .address
    &__icon-img
      display: none
    &__text
      font-size: 16px
  .contacts-data__text
    font-size: 16px
  .promo
    &__container
      padding: 70px 0 50px
    &__text-wrapper
      max-width: 300px
    &__title
      max-width: 100%
      font-size: 28px
    &__subtitle
      max-width: 100%
    &__btn-wrapper
      max-width: 100%
    &__btn
      display: block
      width: 100%
      &:not(first-child)
        margin-top: 20px
    &__socials-wrapper
      justify-content: center
    &__img-wrapper
      position: static
      max-width: 300px
  .about
    &__text
      line-height: 1.2
      font-size: 16px
  .footer
    &__item
      max-width: 200px
      &:nth-child(2)
        display: none
    &__phone-img
      display: none

  // page therapy.html media

  .about-therapy
    &__title
      text-align: center
    &__text-wrapper, &__text, &__img-wrapper
      max-width: 100%
    &__content-wrapper
      flex-direction: column
    &__img-wrapper
      margin-top: 20px
  .programs-therapy
    &__content-wrapper
      flex-wrap: wrap
    &__card
      max-width: 300px
      &:last-child
        margin: 20px auto 0

  .after-therapy
    &__content-wrapper
      flex-direction: column
    &__text-wrapper
      max-width: 100%
    &__title, &__subtitle, &__list, &__text
      text-align: center
    &__list
      list-style-type: none
    &__img-wrapper
      margin-top: 20px
  .reviews-therapy
    &__video-wrapper
      video
        width: 300px

  // page parents.html media

  .advantages-parents
    &__content-wrapper
      flex-wrap: wrap
    &__card
      width: 175px
      &:nth-child(4), &:nth-child(5), &:nth-child(6)
        margin-top: 20px
  .about-parents
    &__card
      max-width: 317px
    &__img-wrapper
      max-width: 400px
  .services-parents
    &__accordion-card
      width: 100%
    &__accordion-title
      font-size: 20px
    &__accordion-icon
      width: 40px
      height: 40px
      margin-right: 20px
  .specialists-parents
    &__cards-wrapper
      justify-content: center
    &__card
      width: 85%
  .price
    &__list-service
      max-width: 100%
  .card
    &__bottom-btns
      justify-content: center
    &__bottom-descr
      min-height: 0px
    &__btn
      margin: 0 10px

  // page contacts.html media

  .administrators-contacts
    &__cards-wrapper
      flex-wrap: wrap
      justify-content: center
    &__card
      &:nth-child(2)
        margin-top: 20px
  .address-contacts
    &__card-title
      font-size: 25px
    &__img-wrapper
      max-width: 250px
  .question-contacts
    &__content-wrapper
      padding: 30px 50px
    &__img-wrapper
      display: none
    &__form-wrapper
      width: 100%
    &__form
      input, select
        width: 100%
@media (max-width: 767px)
  .container
    max-width: 500px

  // header mobile menu

  .header
    &__bottom-wrapper
      position: fixed
      top: 0
      left: -100%
      z-index: 1
      width: 50%
      height: 100%
      padding: 20px 15px
      background-color: rgba(0,0,0, .8)
      transition: 0.6s all
      &_active
        left: 0
    &__menu
      &-list
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: space-between
      &-link
        font-weight: 500
        color: #ffffff
      &-item
        &:not(:first-child)
          margin-top: 20px

  // mobile humburger

  .humb
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    width: 45px
    height: 45px
    background-color: var(--main-color)
    border-radius: 50%
    &__item
      width: 22px
      height: 2px
      background-color: #ffffff
      transition: 0.5s all
      &:not(:first-child)
        margin-top: 5px
    &_active
      .humb__item
        &:nth-child(1)
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%) rotate(45deg)
        &:nth-child(2)
          display: none
        &:nth-child(3)
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%) rotate(-45deg)
          margin: 0

  // page index.html media

  .header
    &__address, &__contacts-data, &__divider
      display: none
  .promo
    &__container
      padding: 50px 0
    &__content-wrapper
      flex-direction: column-reverse
    &__img-wrapper
      display: flex
      align-items: center
      justify-content: space-between
      max-width: 100%
    &__img
      max-width: 49%
      height: 163px
      &:last-child
        margin-top: 0
    &__text-wrapper
      max-width: 100%
      margin-top: 30px
    &__title, &__subtitle
      text-align: center
  .about
    &__text-wrapper
      flex-direction: column
    &__text
      width: 100%
      min-height: 176px
  .footer
    &__container
      flex-wrap: wrap
    &__item
      width: 240px
    &__item:nth-child(2), &__address, &__phone
      display: block
    &__item:nth-child(3), &__item:nth-child(4)
      margin-top: 20px

  // page therapy.html media

  .promo-therapy
    &__img-wrapper
      max-width: 700px
    &__img:last-child
      max-width: 100%
      height: 300px
  .programs-therapy
    &__card
      max-width: 100%
      &:nth-child(2)
        margin-top: 20px
  .reviews-therapy
    &__slider-img
      margin: 0 5px
    &__video-wrapper
      video
        width: 200px
        height: auto

  // page parents.html media

  .promo-parents
    &__img-wrapper
      justify-content: center
    &__img
      height: auto
      max-width: 100%
  .advantages-parents
    &__content-wrapper
      justify-content: space-around
  .about-parents
    &__card
      max-width: 100%
      &:nth-child(2)
        margin-top: 20px
  .tab__title
    padding: 10px
    font-size: 14px
  .specialists-parents__card
    width: 100%

  // page contacts.html media

  .promo-contacts
    &__img-wrapper
      width: 100%
      justify-content: center
    &__img
      height: auto
      max-width: 100%
  .address-contacts
    &__img-wrapper
      max-width: 200px
    &__card-title
      font-size: 20px
    &__card-text, &__map
      font-size: 16px

@media (max-width: 575px)
  .container
    max-width: 350px

  // mobile menu links

  .header
    &__menu-link
      font-size: 12px

  // page index.html media

  .promo
    &__img
      height: 120px
  .about
    padding: 30px 0
    &__gallery
      flex-direction: column
      width: 100%
      &-photo
        width: 100%
        &:not(:first-child)
          margin-top: 20px
  .footer
    &__item
      &:nth-child(2)
        margin-top: 20px

  // page therapy.html media      

  .after-therapy
    &__img-wrapper
      width: 100%
  .reviews-therapy
    &__slider-img
      margin: 0
    &__video-wrapper
      flex-direction: column
      align-items: center
      video
        margin-top: 10px

  // page parents.html media

  .advantages-parents
    &__content-wrapper
      align-items: baseline
  .about-parents
    &__title
      font-size: 30px
  .services-parents
    &__accordion-title
      max-width: 200px
  .price__list-service
    max-width: 65%
    line-height: 1.1
  .card__btn
    font-size: 10px
    padding: 5px

  // page contacts.html media

  .promo-contacts
    &__img
      height: auto
  .card
    &__title
      &-post
        font-size: 12px
      &-name
        font-size: 19px
    &__bottom-descr
      font-size: 15px
  .address-contacts
    &__card
      flex-direction: column
      align-items: center
      justify-content: center
    &__card-title, &__card-text, &__card-time, &__map
      text-align: center
    &__btn
      margin: 10px auto 0
    &__img-wrapper
      margin-top: 20px
  .question-contacts
    &__title
      font-size: 25px
