.reviews-therapy
  padding: 70px 0
  background: var(--bg-color)
  &__title
    font-size: 35px
    text-align: center
  &__slider
    display: flex
    justify-content: flex-start
    align-items: center
    overflow: hidden
    margin-top: 50px
  &__slider-img
    margin: 0 40px
  &__arrows-wrapper
    margin-top: 10px
  &__video-wrapper
    display: flex
    justify-content: space-evenly
    margin-top: 30px
